h1{
    font-size: 3.5vw;
    margin-top: 1%; 
    margin-bottom: 1%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;

}
label {
    font-family: "Comic Sans MS", Chalkduster, sans-serif;
    font-size: 1.47vw;
    text-align: center;
    color: rgb(255, 255, 255);
}
